
.Eventpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #f0f0f0; 
    box-sizing: border-box;
  }
  .search-bar-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .search-bar {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 2px solid #dd6060;
    border-radius: 5px;
    font-size: 16px;
  }
  
  @media (max-width: 600px) {
    .search-bar {
      width: 90%;
    }
  }
  
