* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #e8f1f8;
    padding: 20px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .text-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .text-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
  }
  
  .button-group {
    display: flex;
    gap: 20px;
  }
  
  .btn-register, .btn-login {
    padding: 15px 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-register {
    background-color: #e50914;
    color: #fff;
  }
  
  .btn-register:hover {
    background-color: #c40812;
  }
  
  .btn-login {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-login:hover {
    background-color: #218838;
  }
  
  .image-content {
    flex: 1;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .webheader{
    background-color: #e8f1f8; 
    padding: 10px; 
    color: #333;
    font-size: 3vw; 
  }
  
  @media (max-width: 768px) {
    .webheader {
      font-size: 5vw;
    }
  }
  
  @media (min-width: 1200px) {
    .webheader {
      font-size: 2.5vw; 
    }
  }
  
  @media (max-width: 768px) {
    .landing-page {
      flex-direction: column;
      text-align: center;
    }
  
    .text-content h1 {
      font-size: 2.5rem;
    }
  
    .text-content p {
      font-size: 1rem;
    }
  
    .image-content {
      margin-top: 20px;
    }
  }
  